/* Styles for the chevron icons */
.glyphicon-chevron-left,
.glyphicon-chevron-right {
  cursor: pointer;
  transition: background-color 0.3s; /* Add transition effect for smooth color change */
}

/* Styles for the chevron icons when hovered over */
.glyphicon-chevron-left:hover,
.glyphicon-chevron-right:hover {
  background-color: gray; /* Change background color to gray */
}

.calendar-hover:hover {
  cursor: pointer;
}

.username-input::placeholder {
  font-size: 14px; /* Set the desired font size for the placeholder text */
  /* Add any other desired styles for the placeholder text */
}
